<!doctype>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/nav.css"/>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/hero-carousel.css">
    <link rel="stylesheet" href="/css/login-form.css">
    <link rel="stylesheet" href="/css/checkout.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
</html>