<!-- Página de Redirect 404 -->
<div
  class="container text-center"
  style="min-height: 50vh; padding-top: 100px;"
>
  <h1>404</h1>
  <h2>Página Não Encontrada</h2>
  <p>A página que você está procurando em
    <strong>{{errorMessage}}</strong>
    não existe ou foi movida.</p>
  <a href="/" class="btn mt-4">Voltar para a Página Inicial</a>
</div>