<!-- Página de cadastro de usuário -->
<div class="login-outer">
  <section class="login-container">
    <div class="form-box">
      <div class="form-value">
        <form action="/auth/cadastro" method="POST">
          <h2>Cadastro</h2>

          <div class="inputbox">
            <input type="text" id="nome" name="nome" required placeholder=" " />
            <label for="nome">Nome Completo</label>
            <ion-icon name="person-outline"></ion-icon>
          </div>

          <div class="inputbox">
            <input
              type="email"
              id="email"
              name="email"
              required
              placeholder=" "
            />
            <label for="email">Email</label>
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <div class="inputbox">
            <input
              type="password"
              id="senha"
              name="senha"
              required
              placeholder=" "
            />
            <label for="senha">Senha</label>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </div>

          <button type="submit" class="btn login">Criar Conta</button>

          <div class="register">
            <p>Já tem conta?
              <a href="/login">Fazer Login</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>