
    <!-- Login form -->
    <div class="login-outer">
      <section class="login-container">
        <div class="form-box">
          <div class="form-value">
            <form action="">
              <h2>Login</h2>
              <div class="inputbox">
                <input type="email" id="email" required placeholder=" " />
                <label for="email">Email</label>
                <ion-icon name="mail-outline"></ion-icon>
              </div>

              <div class="inputbox">
                <input type="password" id="senha" required placeholder=" " />
                <label for="senha">Senha</label>
                <ion-icon name="lock-closed-outline"></ion-icon>
              </div>
              <div class="forget">
                <label for=""><input type="checkbox" />Lembrar de mim </label>
                <a href="#">Esqueceu a senha?</a>
              </div>
              <button class="btn login">Entrar</button>
              <div class="register">
                <p>Não tem conta? <a href="#">Cadastrar</a></p>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
