/* style.css */

/* Formulário, Cards & Textos */

.container {
  margin-bottom: 10px;
}

form {
  margin-top: 30px;
  text-align: center;
}

.btn-number {
  background-color: var(--color-text-light);
}

form input {
  margin-bottom: 10px;
}

form input[type="submit"] {
  margin-top: 10px;
}

form img {
  width: 200px;
  margin-bottom: 40px;
}

.card {
  margin-top: 10px;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border-secondary);
  border-radius: 8px;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 5px;
  /* max-height: 350px; */
  background-color: transparent;
}

.card a {
  margin-top: 5px;
}

.textos {
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: solid 1px var(--color-text-light);
  font-weight: bold;
  color: var(--color-text-light);
}

.textos p {
  height: 3em;
  line-height: 1.5em;
  white-space: nowrap; /* Impede a quebra de linha do texto */
  overflow: hidden; /* Oculta o texto que excede o contêiner */
  text-overflow: ellipsis;
  width: 100%;
}

.product-card {
  display: block;
}

.product-card[style*="display: none"] {
  display: none !important;
}

.quantity-input {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  caret-color: transparent;
  cursor: pointer;
  outline: none;
}

/* Para Firefox */
.quantity-input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* Opcional: Para IE */
.quantity-input::-ms-clear,
.quantity-input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
