/* style.css */

.container {
  margin-bottom: 10px;
}

form {
  margin-top: 30px;
  text-align: center;
}

.btn-number {
  background-color: var(--color-text-light); /* Fundo branco para botão numérico */
}

form input {
  margin-bottom: 10px;
}

form input[type="submit"] {
  margin-top: 10px;
}

form img {
  width: 200px;
  margin-bottom: 40px;
}

.card {
  margin-top: 10px;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border-secondary); /* Adiciona borda para visibilidade */
  border-radius: 8px;
  padding: 10px; /* Adiciona padding para o conteúdo */
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  max-height: 350px;
  background-color: transparent;
}

.card a {
  margin-top: 5px;
}

.textos {
  background-color: var(--color-bg-primary); /* Fundo principal */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: solid 1px var(--color-text-light);
  font-weight: bold;
  color: var(--color-text-light);
}